.panel {
  width: 100%;
  color: var(--text-white);
}

.buttons {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
}

.button {
  position: relative;
  width: 90px;
  height: fit-content;
  margin-bottom: -1px;
  padding: 10px 15px 5px 10px;
  font-family: var(--font-source-sans-3);
  font-weight: 600;
  font-size: 18px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.button_props {
  background-color: var(--panel-props);
}

.button_code {
  background-color: var(--panel-code);
}

.button_docs {
  background-color: var(--panel-docs);
}

.button_selected {
  z-index: 1;
  padding: 10px 15px;
  box-shadow: 0px 4px 8px 10px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
}

.block {
  z-index: 2;
  width: 0;
  height: 0;
  overflow: auto;
}

.block_props,
.block_code,
.block_docs {
  width: 100%;
  height: fit-content;
}

.block_props {
  border: 5px solid var(--panel-props);
}

.block_code {
  border: 5px solid var(--panel-code);
}

.block_docs {
  border: 5px solid var(--panel-docs);
}
