.panel {
  width: 100%;
  height: fit-content;
  color: white;
}

.buttons {
  padding-left: 15px;
}

.button {
  margin-bottom: -1px;
  padding: 10px 15px;
  font-family: var(--font-source-sans-3);
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.button_props {
  background-color: var(--panel-props);
}

.button_code {
  background-color: var(--panel-code);
}

.button_docs {
  background-color: var(--panel-docs);
}

.content {
  position: relative;
  width: 100%;
  height: fit-content;
}

.block {
  position: absolute;
  width: 0;
  border-radius: 15px;
  overflow: auto;
}

.block_props,
.block_code,
.block_docs {
  width: 100%;
}

.block_props {
  border: 5px solid var(--panel-props);
}

.block_code {
  border: 5px solid var(--panel-code);
}

.block_docs {
  border: 5px solid var(--panel-docs);
}
