.button {
  padding: 20px;
  background-color: aquamarine;
}

.button:disabled {
  background-color: rgb(196, 33, 33);
  opacity: 0.5;
}

.button_prev {
  background-color: rgb(174, 150, 219);
}

.button_prev:not[disabled]:hover {
  background-color: beige;
}

.button_next {
  background-color: pink;
}

.button_next:not[disabled]:hover {
  background-color: sandybrown;
}
