.container,
.slide {
  display: flex;
  flex-direction: column;
}

.container {
  gap: 30px;
}

.slider {
  height: var(--slider-height);
}

.slide {
  justify-content: center;
  gap: 20px;
  height: 100%;
  padding: 30px 250px;
  color: var(--text-black);
}

.slide_1,
.slide_4 {
  background-color: var(--background-slide-1);
}

.slide_2 {
  background-color: var(--background-slide-2);
}

.slide_3 {
  background-color: var(--background-slide-3);
}

.button {
  width: 240px;
  padding: 10px 15px;
  font-family: var(--font-source-sans-3);
  font-weight: 600;
  font-size: 18px;
  color: var(--text-black);
  text-align: center;
  text-decoration: none;
  background-color: var(--panel-code);
  border: none;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: var(--text-white);
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 30px;
  font-family: var(--font-azeret-mono);
  color: var(--text-white);
}

/* ------------------- media -------------------*/

@media (max-width: 690px) {
  .slide {
    padding: 30px 70px;
  }
}

@media (max-width: 400px) {
  .info p {
    width: 100%;
  }

  .info span {
    display: none;
  }
}
