.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-family: var(--font-azeret-mono);
  font-weight: 600;
  border: 3px solid var(--text-black);
}

.button_inactive {
  color: var(--text-black);
  background-color: var(--text-white);
}

.button_active {
  color: var(--text-white);
  background-color: var(--text-black);
}

.button_active,
.button:disabled {
  pointer-events: none;
  cursor: default;
}

/* ------------------- media -------------------*/

@media (pointer: fine) {
  .button:not(:disabled):hover {
    color: var(--text-white);
    background-color: var(--text-black);
  }
}
