:root {
  /* ------------------- colors -------------------*/

  --html-red: #ee9978;
  --html-maroon: #ac5f5f;
  --html-blue: #7f7ff7;
  --html-navy: #a8a8fa;
  --html-green: #008000;
  --html-teal: #32adad;
  --html-fuchsia: #da7eda;
  --html-olive: #a7a75f;

  --text-white: #ffffff;
  --text-black: #000000;

  --panel-code: #bdeee6;
  --panel-docs: #eea552;
  --panel-props: #c25f5f;

  --background-code: #282c34;
  --background-label: #2c2c2c;
  --background-options: #363636;

  --button-copied: #009e3d;

  /* ------------------- height -------------------*/

  --slider-height: 500px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #171717;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-opensans);
}
