:root {
  --html-red: #ee9978;
  --html-maroon: #ac5f5f;
  --html-blue: #7f7ff7;
  --html-navy: #a8a8fa;
  --html-green: #008000;
  --html-teal: #32adad;
  --html-fuchsia: #ff84ff;
  --html-olive: #a7a75f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #171717;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-opensans);
}
