.docs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.docs h2 {
  padding-top: 20px;
}

.docs h3,
.docs h4 {
  padding-top: 15px;
}

.docs a {
  color: var(--html-red);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav,
.nav li ul,
.features,
.plans {
  padding-left: 30px;
}

.alert {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0 10px 20px;
}

.alert span {
  font-weight: 700;
}

.alert_tip {
  border-left: 5px solid var(--alert-tip);
}

.alert_tip span {
  color: var(--alert-tip);
}

.alert_note {
  border-left: 5px solid var(--alert-note);
}

.alert_note span {
  color: var(--alert-note);
}

.alert_important {
  border-left: 5px solid var(--alert-important);
}

.alert_important span {
  color: var(--alert-important);
}

.details {
  border: 1px solid var(--text-white);
  padding: 15px;
}

.details p {
  padding-top: 10px;
}

.details span {
  display: block;
  margin-bottom: 10px;
}
