.docs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.docs h2 {
  padding-top: 20px;
}

.docs h3,
.docs h4 {
  padding-top: 15px;
}

.docs a {
  color: var(--html-red);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav,
.nav li ul,
.features,
.plans {
  padding-left: 30px;
}

.details {
  border: 1px solid var(--text-white);
  padding: 15px;
}

.details p {
  padding-top: 10px;
}

.details span {
  display: block;
  margin-bottom: 10px;
}
