.props,
.options {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.props {
  padding: 30px;
}

.options {
  padding: 20px;
  background: var(--background-options);
  border-radius: 5px;
}

.options_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.prop {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prop_optional {
  align-items: flex-start;
}

.prop_name {
  width: 190px;
}

.prop_values {
  display: flex;
  gap: 2px;
  border-radius: none;
  overflow: hidden;
}

.input_container {
  display: flex;
  gap: 2px;
}

.input {
  height: 100%;
  padding: 5px 10px;
  border: 1px solid var(--text-white);
  border-radius: 0;
  outline: none;
}

.input_radio {
  display: none;
}

.input_number,
.input_string {
  font-weight: 600;
}

.input_number::placeholder,
.input_string::placeholder {
  font-weight: 400;
  opacity: 0.7;
}

.input_string {
  width: 252px;
}

.input_number {
  width: 125px;
}

.input_string {
  width: 252px;
}

.input_string_short {
  width: 125px;
}

.label {
  min-width: 125px;
  padding: 5px 10px;
  text-align: center;
  background-color: var(--background-label);
  border: 1px solid var(--background-label);
  cursor: pointer;
}

.label_selected {
  font-weight: 600;
  color: var(--text-black);
  background-color: var(--panel-props);
  border: 1px solid var(--panel-props);
}
