.container,
.code {
  display: flex;
  flex-direction: column;
}

.container {
  min-width: var(--code-min-width);
  padding: 30px;
  overflow: auto;
}

.code {
  gap: 10px;
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  font-family: var(--font-azeret-mono);
  background-color: var(--background-code);
}

/* ------------------- colors -------------------*/

.red {
  color: var(--html-red);
}

.maroon {
  color: var(--html-maroon);
}

.blue {
  color: var(--html-blue);
}

.navy {
  color: var(--html-navy);
}

.green {
  color: var(--html-green);
}

.teal {
  color: var(--html-teal);
}

.fuchsia {
  color: var(--html-fuchsia);
}

.olive {
  color: var(--html-olive);
}
